@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
.App {
  text-align: center;
}
body{
  font-family: 'Recursive', sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) */
  grid-template-columns: 70% auto;
  grid-gap: 20px;
  padding: 0 20px;
}
body{
  background-color: #eeeeee;
}
li{
  list-style: none;
}

.active{
  background-color: #e89700;
}
.nav-bar{
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.my-li{
  width: 70px;
  padding:10px;
  transition: ease 0.3s;
}
a{
  text-decoration: none;
  color:white;
  padding: 15px 0;
}
.title{
  display: flex;
  justify-content: space-between;
  
}
.title h2{
  text-align: center;
  font-size: 31px;
  color: #480404;
  text-transform: uppercase;
}
.select-country{
  width: 150px;
  margin: auto 0;
  
}
.info{
  width: 100%;
  max-height: 300px;
  background: white;
  padding: 12px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
}
.info-body p{
  margin: 5px;
}
.info-icon{
  margin-right: 10px;
}
.list-cases{
  max-height: 627px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}
.list-cases::-webkit-scrollbar {
  width: 5px;
}
 
.list-cases::-webkit-scrollbar-track {
  background: #ddd;
}
.list-cases::-webkit-scrollbar-thumb {
  background: #666; 
}

 
.case-total{
  background: white;
  padding: 16px;
  padding-top: 0;
  margin-top: 19px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}
.list-total{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  cursor: pointer;
}
.list-cases li:nth-of-type(odd){
  background-color: #efefef;
}
.all-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.num-covid{
  font-weight:500;
}
.mapboxgl-ctrl-bottom-right{
  display: none;
  padding: 0;
  margin: 0;
}
.mapboxgl-canvas{
  width: 100%;
}
.map .leaflet-container{
  height: 100%;
  z-index: 1;
}
.css-26l3qy-menu{
  z-index: 5;
}
.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
  z-index: 100;
}
.leaflet-top.leaflet-left{
  display: none;
}
.chart{
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}
.chart h2{
  padding: 10px;
  margin: 0;
}
.chartjs-render-monitor{
  padding-right: 15px;
}
@media only screen and (max-width:1120px) {
  .container{
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width:730px){
  .chart div{
    max-width: 100% !important;
    flex-direction: column;
  }
  .chartjs-render-monitor{
    margin-top: 20px;
  }
  .list-cases {
    max-height: 460px;
  }
}
@media only screen and (max-width:670px) {
  .all-info {
    display: flex;
    flex-direction: column;
  }
  .info{
    margin-left: 0;
  }
  .title{
    display: block;
    margin-bottom: 5px;
  }
  .select-country {
    width: 100%;
  }
}

